.side {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95vh;
    background: url(../images/twitter.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    p {
        color: #fff;
        font-size: large;
        svg {
            margin-right: 1.2rem;
        }
    }
}